.login-box {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  padding: 1em;
  text-align: center;
}

.login-box input {
  display: block;
  border-radius: 5px;
  margin: 1em auto;
  border: 1px solid #dbdbdb;
}

.login-box input[type='submit'] {
  background: #3897f0;
  border-color: #3897f0;
  color: white;
  outline: none;
}

.login-box input[type='submit']:active {
  background: #2a73b8;
  border-color: #2a73b8;
  color: white;
  outline: none;
}

.msg-login {
  border-radius: 4px;
  padding: 1px;
  font-size: 14px;
  text-align: center;
  color: red;
}

.header-logo.login {
  font-size: 2em;
}